# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Read CSV
vacation_df = pd.read_csv('../output_data/cities.csv')
#Drop NaN
vacation_df.dropna(inplace = True) 
vacation_df.head(15)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
5,5,atuona,78,PF,1558378755,76,-9.80,-139.03,81.96,16.49
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41
8,8,tiksi,95,RU,1558378756,88,71.64,128.87,14.10,15.70
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
10,10,aykhal,90,RU,1558378756,48,65.95,111.51,39.20,11.18
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
13,13,saskylakh,0,RU,1558378757,91,71.97,114.09,4.92,2.26
14,14,constitucion,5,MX,1558378757,4,23.99,-104.67,84.20,16.11
15,15,albany,40,US,1558378727,45,42.65,-73.75,82.40,12.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = vacation_df[["Lat", "Lng"]]
humidity= vacation_df['Humidity']


fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
vacation_cities= vacation_df.loc[(vacation_df["Max Temp"]<=75)&(vacation_df["Max Temp"]>=60)&
                                 (vacation_df["Humidity"]<=85)&
                                 (vacation_df["Cloudiness"]<=50)]
vacation_cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
37,37,varhaug,0,NO,1558378761,63,58.61,5.65,64.99,8.05
68,68,beja,20,PT,1558378766,49,38.02,-7.87,71.60,14.99
69,69,fortuna,20,ES,1558378767,77,38.18,-1.13,69.80,4.70
...,...,...,...,...,...,...,...,...,...,...
522,522,raudeberg,20,NO,1558378894,76,61.99,5.14,69.80,4.70
528,528,lyuban,39,BY,1558378625,68,52.80,28.00,67.92,12.15
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df=vacation_cities
hotel_df['Hotel Name']= ""
hotel_df

<ipython-input-5-d6bcde87076b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name']= ""

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41,
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93,
37,37,varhaug,0,NO,1558378761,63,58.61,5.65,64.99,8.05,
68,68,beja,20,PT,1558378766,49,38.02,-7.87,71.60,14.99,
69,69,fortuna,20,ES,1558378767,77,38.18,-1.13,69.80,4.70,
...,...,...,...,...,...,...,...,...,...,...,...
522,522,raudeberg,20,NO,1558378894,76,61.99,5.14,69.80,4.70,
528,528,lyuban,39,BY,1558378625,68,52.80,28.00,67.92,12.15,
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82,
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24,
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05,

In [6]:
params={"radius": 5000,
        "types": "lodging",
        "keyword": "hotel",
        "key": g_key}

for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response=requests.get(url, params=params)
    
    json_response=response.json()
    #pprint(json_response)
    
    try:
        hotel_df.loc[index, "Hotel Name"]=json_response["results"][0]["name"]
    
    except (KeyError, IndexError):
        print("Skipped location")

hotel_df

C:\Users\erhar\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Skipped location
Skipped location
Skipped location
Skipped location
Skipped location
Skipped location
Skipped location
Skipped location
Skipped location
Skipped location

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41,Lakeview Hotel Motel
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93,"Baza Otdykha ""Zaozer'ye"""
37,37,varhaug,0,NO,1558378761,63,58.61,5.65,64.99,8.05,
68,68,beja,20,PT,1558378766,49,38.02,-7.87,71.60,14.99,BejaParque Hotel
69,69,fortuna,20,ES,1558378767,77,38.18,-1.13,69.80,4.70,Balneario de Leana
...,...,...,...,...,...,...,...,...,...,...,...
522,522,raudeberg,20,NO,1558378894,76,61.99,5.14,69.80,4.70,Ulvesund FYR
528,528,lyuban,39,BY,1558378625,68,52.80,28.00,67.92,12.15,
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82,Kärppälän Rustholli
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24,"Grand Hotel des Sablettes Plage, Curio Collect..."
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05,Autour du Puits

In [12]:
#drop NaN values
nan_value = float("NaN")
hotel_df["Hotel Name"].replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41,Lakeview Hotel Motel
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93,"Baza Otdykha ""Zaozer'ye"""
68,68,beja,20,PT,1558378766,49,38.02,-7.87,71.60,14.99,BejaParque Hotel
69,69,fortuna,20,ES,1558378767,77,38.18,-1.13,69.80,4.70,Balneario de Leana
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,Hotel Capitólio
78,78,crotone,20,IT,1558378768,67,39.09,17.12,62.60,10.29,Hotel San Giorgio
84,84,emerald,0,AU,1558378770,82,-23.53,148.16,60.80,6.93,Emerald Star Hotel
93,93,antioch,40,US,1558378507,63,38.00,-121.81,64.99,10.29,Best Western Plus Delta Inn & Suites
107,107,whitehorse,40,CA,1558378774,36,60.72,-135.06,64.00,3.36,Best Western Gold Rush Inn
114,114,koumac,0,NC,1558378775,68,-20.56,164.28,74.40,12.86,Karem Bay
117,117,east london,20,ZA,1558378775,72,-33.02,27.91,60.80,27.51,Premier Hotels & Resorts
118,118,sao filipe,2,CV,1558378776,84,14.90,-24.50,72.96,16.91,Hotel Santos Pina
146,146,nardaran,40,AZ,1558378782,52,40.56,50.01,66.20,19.46,Bilgah Beach Hotel
149,149,ganzhou,1,CN,1558378783,66,25.86,114.93,64.32,3.42,Jinjiang International Hotel Ganzhou
160,160,trapani,20,IT,1558378785,72,38.02,12.54,66.20,17.22,Residence la Gancia
166,166,brainerd,1,US,1558378527,40,46.36,-94.20,63.00,5.82,Holiday Inn Express & Suites Brainerd-Baxter
168,168,straumen,0,NO,1558378786,52,63.87,11.30,68.00,9.17,Jægtvolden Fjordhotell
169,169,camacha,40,PT,1558378786,72,33.08,-16.33,68.00,14.99,Pestana Porto Santo
188,188,lagoa,20,PT,1558378790,46,37.14,-8.45,73.40,18.34,Monte Santo Resort
192,192,port hedland,0,AU,1558378791,51,-20.31,118.58,62.60,6.93,The Esplanade Hotel
214,214,mount isa,0,AU,1558378794,56,-20.73,139.49,68.00,6.93,Abacus Motel
215,215,le port,25,FR,1558378795,64,42.87,1.37,60.01,4.47,Les Deux Vélos Cycle Lodge
226,226,saint-denis,0,FR,1558378797,67,48.94,2.36,64.40,10.29,L'imprimerie hôtel
230,230,moses lake,1,US,1558378804,22,47.13,-119.28,69.80,13.87,Holiday Inn Express & Suites Moses Lake
259,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20,Hami Hotel
261,261,fort frances,1,CA,1558378834,38,48.61,-93.40,63.00,9.17,Copper River Inn
262,262,umtata,0,ZA,1558378835,51,-31.59,28.78,60.80,17.22,Mayfair Hotel
282,282,slave lake,1,CA,1558378673,25,55.28,-114.77,62.60,17.22,Lakeview Inns & Suites - Slave Lake
296,296,khash,32,IR,1558378844,43,28.22,61.21,68.28,12.50,خوابگاه دانشجویی خاش
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,MOGOK HILL HOTEL
298,298,mikkeli,0,FI,1558378844,59,61.69,27.27,62.60,6.93,Scandic Mikkeli
303,303,yulara,20,AU,1558378845,77,-25.24,130.99,62.60,8.16,Longitude 131
324,324,sidney,1,US,1558378850,26,47.72,-104.16,61.00,14.99,Best Western Golden Prairie Inn & Suites
338,338,port shepstone,2,ZA,1558378854,47,-30.74,30.45,69.54,5.32,The Tweni Waterfront Guest Lodge
340,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05,Casa Andina Premium Arequipa
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78,The Nesbitt Arms
360,360,fort nelson,20,CA,1558378858,42,58.81,-122.69,68.00,5.82,Woodlands Inn & Suites
365,365,ulladulla,0,AU,1558378859,62,-35.36,150.48,60.01,11.41,Beachhouse Mollymook
371,371,carballo,0,ES,1558378860,44,43.21,-8.69,63.00,5.82,Pazo do Souto
374,374,reguengos de monsaraz,20,PT,1558378861,49,38.42,-7.53,71.60,14.99,Solar De Alqueva
380,380,kayseri,40,TR,1558378862,48,38.73,35.48,66.20,3.36,Radisson Blu Hotel Kayseri
386,386,north bend,40,US,1558378869,58,43.41,-124.22,63.00,12.75,Red Lion Hotel Coos Bay
389,389,souillac,1,FR,1558378869,59,45.60,-0.60,62.60,11.41,Hôtel de Bordeaux & Restaurant Gastronomique
390,390,la ronge,40,CA,1558378869,33,55.10,-105.30,62.60,10.29,The Harbour Inn
391,391,namibe,0,AO,1558378870,74,-15.19,12.15,71.70,17.40,Hotel Chik Chik Namibe
401,401,kalabo,47,ZM,1558378871,42,-15.00,22.67,69.90,4.72,Sikakubete Guest House Kalabo Town Council
414,414,kalat,47,PK,1558378846,44,29.03,66.58,66.84,4.00,Balochistan Hotel
420,420,isangel,13,VU,1558378875,76,-19.55,169.27,74.76,20.18,Quarumanu area
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,Sepehr Hotel
458,458,hereford,40,GB,1558378883,59,52.06,-2.72,64.00,3.36,Castle House Hotel
470,470,horta,40,ES,1558378885,72,41.43,2.16,64.99,6.93,Hotel Barcelona 1882
486,486,bismarck,1,US,1558378843,50,46.81,-100.78,60.80,16.11,Staybridge Suites Bismarck
507,507,graaff-reinet,19,ZA,1558378808,53,-32.25,24.53,60.00,13.87,Drostdy Hotel
508,508,noumea,0,NC,1558378811,77,-22.28,166.46,64.40,2.24,Le Meridien Noumea Resort & Spa
520,520,high prairie,0,CA,1558378893,34,55.43,-116.48,61.80,16.46,Days Inn by Wyndham High Prairie
522,522,raudeberg,20,NO,1558378894,76,61.99,5.14,69.80,4.70,Ulvesund FYR
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82,Kärppälän Rustholli
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24,"Grand Hotel des Sablettes Plage, Curio Collect..."
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05,Autour du Puits

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))